$borderRadiusDefault: 3px;
$chatAppHeight: 500px;
$defaultSpacer: 10px;

#chat {
  background: #eee;
  position: relative;
  height: $chatAppHeight;
  margin-bottom: 50px;
  border-radius: 3px;
  overflow: hidden;

  .chatConversations {
    background: #dcdcdc;
    height: $chatAppHeight;

    > ul {
      list-style: none;
      margin-bottom: 0;
      padding-left: 0;
      overflow-y: auto;
      height: 100%;

      > li {

        > a {
          padding: 25px 10px;
          padding-left: 75px;
          border-bottom: 1px solid #ccc;
          display: block;
          position: relative;
          color: #484848;
          text-decoration: none;

        }

        &.active a,
        &:hover:not(.active) a {
          background: #ccc;
          font-weight: bold;
        }
      }
    }
  }

  .chatWindow {

    ul.chatMessages {
      list-style: none;
      margin-bottom: 0;
      padding-left: 0;
      height: ( $chatAppHeight / 100 ) * 90;
      overflow-y: scroll;

      > li {

        .message {
          background: #ccc;
          margin-bottom: 10px;
          padding: 10px 10px;
          margin: 15px;
          border-radius: $borderRadiusDefault;
          display: inline-block;
        }

        &.right  {
          text-align: right;

          .message {
            margin-left: 15px;
          }
        }
      }
    }

    .sendMessage {
      height: ( $chatAppHeight / 100 ) * 10;
      padding: 10px 10px;
    }
  }
}

.sendMessage {

  input.messageText {
    width: 80%;
    height: 100%;
    float: left;
    border: none;
    border-top-left-radius: $borderRadiusDefault;
    border-bottom-left-radius: $borderRadiusDefault;
    padding: 0 7px;
  }
  input.messageSend {
    width: 20%;
    float: right;
    height: 100%;
    background: #2ca7e8;
    border: none;
    color: #fff;
    font-weight: bold;
    border-top-right-radius: $borderRadiusDefault;
    border-bottom-right-radius: $borderRadiusDefault;
  }
}

.nopad {
  &:not(:first-child,:last-child) {
    padding-right: 0;
    padding-left: 0;
  }
  &:first-child {
    padding-right: 0;
  }
  &:last-child {
    padding-left: 0;
  }
}

.avatar {
  background: #b5b5b5;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  position: absolute;
  top: 0;
  left: 10px;
  bottom: 0;
  margin: auto;
}