<div class="chatWindow">
    <ul n:if="$conversation" class="chatMessages">
        <li n:foreach="$conversation->conversation->messages as $message" n:class="$currentUserId !== $message->userId ? right">
            {$message->text}
        </li>
    </ul>
    {control sendForm}
</div>