<div id="chat">
    <div class="row">
        <div class="col-md-4">
            {control conversations}
        </div>
        <div class="col-md-8">
            {control window}
        </div>
    </div>
</div>