<div id="chatWindow-{$conversation->conversation->id}">
    <ul n:if="$conversation" n:inner-foreach="$conversation->conversation->messages as $message" class="chatMessages">
        <li n:class="$currentUserId !== $message->userId ? right, $iterator->isFirst() ? active">
            {dump $iterator->isFirst()}
            <div class="message">
                {$message->text}
            </div>
        </li>
    </ul>
</div>